[Unit]
Description=attach-hidups for %I
Wants=untrustedhost-upsd-config.service
Before=untrustedhost-upsd-config.service

[Service]
Type=oneshot
ExecStart=/usr/lib/untrustedhost/scripts/attach-hidups.sh %i
