[Unit]
Description=BIND Domain Name Server
Documentation=man:named(8)
After=network.target
Wants=nss-lookup.target
Before=nss-lookup.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/bind9
ExecStartPre=/usr/sbin/named-checkconf /run/untrustedhost/bind/named.conf
ExecStart=/usr/sbin/named -c /run/untrustedhost/bind/named.conf $OPTIONS
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop

[Install]
WantedBy=multi-user.target
