[Unit]
Description=Update DNS
After=untrustedhost-pdns.service

[Service]
Type=oneshot
ConditionPathExists=/run/untrustedhost/dns-update.xml
ExecStart=/usr/lib/untrustedhost/scripts/dns-update.sh

[Install]
WantedBy=multi-user.target
