SUBSYSTEMS=="usb", ATTRS{idVendor}=="2047", ATTRS{idProduct}=="03df", KERNEL=="ttyACM*", GOTO="fitusb_start"

GOTO="fitusb_end"

LABEL="fitusb_start"
IMPORT{builtin}="path_id"
ENV{ID_PATH}=="?*", ENV{.ID_PORT}=="", SYMLINK+="fitusb/$env{ID_PATH}"
ENV{ID_PATH}=="?*", ENV{.ID_PORT}=="?*", SYMLINK+="fitusb/$env{ID_PATH}-port$env{.ID_PORT}"

LABEL="fitusb_end"
