[Unit]
Description=Instant Meta Data
Before=systemd-networkd.service isc-dhcp-server.service isc-dhcp-relay.service isc-dhcp-server6.service

[Service]
Type=oneshot
ExecStart=/usr/lib/untrustedhost/scripts/imd.sh

[Install]
WantedBy=multi-user.target
