[Unit]
Description=veth glue for network namespace on %I
After=syslog.target systemd-netns@%i.service imd.service
JoinsNamespaceOf=systemd-netns@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
PrivateNetwork=true
PrivateTmp=true

# delete and (re-)create the veth pair here.
ExecStartPre=-/usr/bin/rm /run/systemd/network/%i.0.network
ExecStartPre=-/usr/bin/mkdir /run/systemd/network
ExecStartPre=-/usr/sbin/ip -n 1 link del %i.0
# generate a file for systemd-networkd
ExecStart=/usr/lib/untrustedhost/scripts/veth-network hostgen %i
# create our veth pair now, in our private space
ExecStart=/usr/sbin/ip link add %i.0 type veth peer name %i.1
# and hand the first half of it to PID 1 namespace
ExecStart=/usr/sbin/ip link set %i.0 netns 1
# configure our ipv4 address now
ExecStart=/usr/lib/untrustedhost/scripts/veth-network v4conf %i

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
