[Unit]
Description=post-boot luksipc handler (regenerate initramfs)
ConditionKernelCommandLine=luksipc
ConditionPathExists=!/etc/crypttab.luksipc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/untrustedhost/scripts/postluksipc.sh

[Install]
WantedBy=multi-user.target
