[Unit]
Description=resize root filesystem
ConditionPathIsReadWrite=/

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/untrustedhost/scripts/resize-rootfs.sh

[Install]
WantedBy=multi-user.target
