[Unit]
Description=OpenSSH %i Server Key Generation
ConditionFileNotEmpty=|!/etc/ssh/ssh_host_%i_key

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/sshd
ExecStart=/usr/lib/untrustedhost/scripts/sshd-keygen %i

[Install]
WantedBy=sshd-keygen.target
